<div class="container-mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Sign up</h2>
          Reactive form
        </div>
        <div class="card-body">
          <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
            <div class="col-md-6">
              <label for="name">Name</label>
              <input
                type="text"
                formControlName="fname"
                id="name"
                class="form-control"
              />
              <!-- {{signupform.controls.fname.errors|json}} -->
              <div
                *ngIf="signupform.touched && signupform.controls.fname.hasError"
              >
                <p
                  *ngIf="signupform.controls.fname.hasError('iserror')"
                  style="color: red"
                >
                  abusive words exists
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <label for="Email">Email</label>
              <input
                type="text"
                formControlName="Email"
                id="Email"
                class="form-control"
              />
              <!-- {{signupform.controls.fname.errors|json}} -->
              <div
                *ngIf="signupform.touched && signupform.controls.Email.hasError"
              >
                <p
                  *ngIf="signupform.controls.Email.hasError('required')"
                  style="color: red"
                >
                  required
                </p>

                <p
                  *ngIf="signupform.controls.fname.hasError('minlength')"
                  style="color: red"
                >
                  Min length must be 3
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <label for="Password">Password</label>
              <input
                type="password"
                formControlName="Password"
                id="Password"
                class="form-control"
              />
              <div
                *ngIf="
                  signupform.touched && signupform.controls.Password.hasError
                "
              >
                <p
                  *ngIf="signupform.controls.Password.hasError('required')"
                  style="color: red"
                >
                  required
                </p>

                <p
                  *ngIf="signupform.controls.Password.hasError('minlength')"
                  style="color: red"
                >
                  Min length must be 3
                </p>
              </div>
            </div>

            <div formGroupName="Address">
              <div class="col-md-6">
                <label for="area">area</label>
                <input
                  type="text"
                  formControlName="Aria"
                  id="area"
                  class="form-control"
                />
              </div>
              <div class="col-md-6">
                <label for="pin">pin</label>
                <input
                  type="text"
                  formControlName="Pin"
                  id="pin"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <input
                type="submit"
                class="btn btn-success"
                style="margin: 5px"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
